.customers-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    gap: 30px;
    left: 20%;
    top: 0px;
    width: 80%;
    height: 100vh;
}

.customers-container section{
    position: relative;
    
}

.customers-container span{
    display: flex;
    align-items: center;
}

.customers-searchBar{
    display: flex; 
    position: relative;
    gap: 30px;
}

.customers-search-icon{
    font-size: 25px;
    color: #767e95;
}

.customers-pageButtons{
    display: flex;
    gap: 30px;
}   