.home-container{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    height: 800px;
    width: 100%;
}

.home-container h1{
    font-size: 60px;
}

.home-container button{
    cursor: pointer;
    padding: 30px;
}

@media (max-width: 600px) {
    .home-container{
        height: 700px;
    }

    .home-container h1{
        font-size: 30px;
    }
}