.locations-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: white;
    gap: 30px;
    left: 20%;
    top: 0px;
    width: 80%;
    height: 100vh;
}

.locations-functions{
    display: flex;
    position: relative;
    margin-left: 40px;
    gap: 100px;
}

.locations-functions div{
    display: flex;
    align-items: center;
}

.locations-functions input{
    width: 150px;
    margin-left: 20px;
}

.locations-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
}

.map-container{
    background-color: aqua;
    position: relative;
    width: 60%;
    height: 60vh;
    left: 30px;
    
}

.map-board-details img{
    width: 120px;
    height: 100px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 60px;
    
}
