.orders-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: white;
    gap: 30px;
    left: 20%;
    top: 0px;
    width: 80%;
    height: 100vh;
    overflow-x: auto;  /* Enable horizontal scrolling */
}

.orders-container section {
    position: relative;
}

.orders-container span {
    display: flex;
    align-items: center;
}

.orders-searchBar {
    display: flex;
    position: relative;
    gap: 30px;
}

.orders-search-icon {
    font-size: 25px;
    color: #767e95;
}

.orders-pageButtons {
    display: flex;
    gap: 30px;
}

.order-table {
    min-width: 100%;
}

.direction-icon {
    font-size: 27px;
}

@media (max-width: 1150px) {
    .orders-container {
        width: 100%;
    }
    
    .order-table {
        width: 100%;  /* Take the full width in mobile view */
        overflow-x: auto;  /* Enable horizontal scrolling */
        font-size: 40px;
    }
}
